*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #b5838d;
    font-size: 24px;
    font-family: cursive;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
ul{
    list-style-type: none;  
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: white;
}
li{
    padding:14px 0px;
}
@media screen and (max-width:485px){
    nav{
        flex-direction: column;
        width: 100%;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }
}