*{
    margin: 0;
    padding: 0;
}
div{
    height: 100px;
    width: 100px;
    border-top: 15px solid lightpink;
    border-left: 15px solid lightskyblue;
    border-right: 15px solid lightsalmon; 
    border-bottom: 15px solid lightseagreen;
    border-radius: 50%;
    animation: 500ms infinite linear loader;
}
body{
    /* border: 1px solid black; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes loader{
    100%{
        transform: rotateZ(360deg);
    }
}